.App {
  font-size: 17px;
  -webkit-font-smoothing: antialiased; /* For older WebKit browsers */
  font-smooth: always; /* For modern browsers */
}

.mainContainer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

@media (max-width: 517px) {
  .App {
    font-size: 15px;
  }
}
